body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
}

.container{
background:white;
padding:20px;
width:400px;
margin:auto;
margin-top:50px;
border-radius:10px;
box-shadow:0px 0px 10px gray;
}

input, textarea{
width:90%;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
margin:10px;
cursor:pointer;
}
